# Database
DATABASE_URL="postgresql://user:password@localhost:5432/fermeduvardier?schema=public"

# Redis (optional)
REDIS_URL="redis://:password@localhost:6379"

# Server
PORT=3001
FRONTEND_URL=http://localhost:3000

# SMTP Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password

# Email admin pour notifications de commandes
ADMIN_EMAIL=fermeduvardier@gmail.com
